.name-box input{

padding:10px;
border-radius:10px;
border:none;
margin-top:20px;
font-size:14px;

}

.mood-selector button{

display:flex;
flex-direction:column;

align-items:center;

font-size:25px;

margin:10px;

padding:15px;

border:none;

border-radius:15px;

cursor:pointer;

transition:0.3s;

}

.label{

font-size:12px;

margin-top:5px;

}

.emoji{

font-size:30px;

}